.App {
  text-align: center;
}

.App-header {
  background-color: #48647c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-button {
  background-color: #2596be;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  border: none;
}

.Dropdown {
  position: relative;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #f0f0f0;
  padding: 10px;
  display: inline-block;
  align-items: center;
}

.Dropdown img {
  max-width: 50px;
  margin-right: 10px;
}

.Dropdown p {
  margin: 0;
}

.DownArrow {
  border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
  top: 0;
	transform: rotate(135deg);
}


.Sidebar {
position: absolute;
right: 0;
top: 0;
width: 300px;
background-color: #f0f0f0;
height: 100vh;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
}

.Sidebar ul {
list-style: none;
padding: 0;
}

.Sidebar li {
padding: 5px 0;
position: relative;

}

.Sidebar button {
margin-top: auto;
}


.ProviderDetails {
margin-top: 20px;
padding: 20px;
}

.ProviderDetails img {
max-width: 200px;
margin: 10px auto;
display: block;
}

.ProviderDetails button {
margin-top: 20px;
padding: 10px 20px;
background-color: #2596be;
color: white;
border-radius: 8px;
font-size: 20px;
border: none;
}

.DropdownDetails {
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.DropdownDetails img {
  height: 1em; 
  width: 1em;
}